In [1]:
# All libraries:

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
import csv
import pandas as pd
import datetime as dt
import requests
import mysql.connector

import webbrowser

Probeabfrage: https://www.chrono24.at/search/index.htm?braceletMaterial=410&caseMaterials=9&currencyId=EUR&dosearch=true&manufacturerIds=221&maxAgeInDays=0&models=3&pageSize=60&redirectToSearchIndex=true&resultview=block&sortorder=0

In [3]:
# Connect to database:


conn = mysql.connector.connect(
    host= "127.0.0.1",
    user = "watchsearch", 
    password = "watchsearch",
    database = "watchsearch"
)

cur = conn.cursor()

cur.execute('''SHOW TABLES''')
for x in cur:
    print(x)

cur.execute('''SELECT * FROM watch''')
result = cur.fetchall()


conn.commit

print(result)

('user',)
('watch',)
[(1, '3', '221', None, None, None, None, None, '410', '09', None, None, None, None)]

Requirement already satisfied: mysql-connector-python in c:\users\konny\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\konny\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#insert to database


cur.execute('''INSERT INTO table VALUES(?, ?, ?)''', variable1, variable2, variable3)

## nachdem alles erledigt ist
conn.commit
          
          
          
## und als letztes unbedingt:
          conn.close

In [4]:
# Build URL:



cur.execute('''SELECT name FROM watch WHERE id=1''')
c = cur.fetchone()
name = str(c[0])

cur.execute('''SELECT brand FROM watch WHERE id=1''')
c = cur.fetchone()
brand = str(c[0])

cur.execute('''SELECT material FROM watch WHERE id=1''')
c = cur.fetchone()
bracelet = str(c[0])

cur.execute('''SELECT color FROM watch WHERE id=1''')
c = cur.fetchone()
caseMaterial = str(c[0])

URL = 'https://www.chrono24.at/search/index.htm?dosearch=true&' + 'braceletMaterial=' + bracelet + '&caseMaterials=' + caseMaterial + '&manufacturerIds=' + brand + '&maxAgeInDays=0' + '&models=' + name +'&pageSize=60&redirectToSearchIndex=true&resultview=block&sortorder=0'

print(URL)

https://www.chrono24.at/search/index.htm?dosearch=true&braceletMaterial=410&caseMaterials=09&manufacturerIds=221&maxAgeInDays=0&models=3&pageSize=60&redirectToSearchIndex=true&resultview=block&sortorder=0

3 = GMT-Master
221 = Rolex
09 = Gold/Stahl
410 = Gold/Stahl

In [6]:
# Scrape URL:


html = requests.get(URL)


bs = BeautifulSoup(html.content, 'html.parser')

xl = []

for entry in bs.find_all('a', class_ = 'article-item block-item rcard'):
    link = entry['href']
    xl.append(link)
    #print(link)
    
# jetzt muss man die links in einer Liste speichern    
xl

['/rolex/rolex-gmt-master-1675-nipple-dial-stahl--gold-jubilee-band-bestzustand-unpoliert--2-nos-inlay--id26618914.htm',
 '/rolex/gmt-master-tiger-eye--nipple-dial-stahl--gold-oyster-perpetual-16753--id26499358.htm',
 '/rolex/gmt-master-ii-tigerauge---ref-16753---edelstahl--18k-gelbgold---jubileeband---automatik---plexiglas---jahr-ca-19811982--id23551139.htm',
 '/rolex/rolex-gmt-master--id26324915.htm',
 '/rolex/oyster-perpetual-gmt-master-vintage-1984-ref-16753--id26310571.htm',
 '/rolex/rolex-gmt-master-full-set-unpolished-unpoliert-lc100--id26440454.htm',
 '/rolex/rolex-gmt-master--id23891881.htm',
 '/rolex/gmt-master---stahl--gelbgold---armband-stahl--gelbgold--jubile---40mm---sehr-gut---vintage--id23586869.htm',
 '/rolex/rolex-gmt-master-steel-and-gold-ref1675-brown-nipple-dial-from-1975--id26508278.htm',
 '/rolex/gmt-master-herren-stahlgold---ref16753---top-zustand--id26019939.htm',
 '/rolex/gmt-master-tiger-eye-nipple-dial--id26064074.htm',
 '/rolex/rolex-gmt-master--id21810003.htm',
 '/rolex/rolex-1979-rolex-gmt-master-1675-steel--gold-root-beer-tiger-eye--id26387496.htm',
 '/rolex/oyster-perpetual-gmt-master-vintage-ca-1987-ref-16753--id24012103.htm',
 '/rolex/rolex-gmt-master-16753-ultra-rare-quraysh-hawk--for-uae-ministry-of-defense-virated-dial--id25075096.htm',
 '/rolex/rolex-gmt-master--id26036153.htm',
 '/rolex/rolex-gmt-master--id17166052.htm',
 '/rolex/-gmt-master-steel-and-gold-ref16753-nipple-dial-from-1979--id18780572.htm',
 '/rolex/rolex-oyster-perpetual-gmt-master--1986--id26513405.htm',
 '/rolex/gmt-master-ref-16753-acciaio-oro--id7496162.htm',
 '/rolex/rolex-rolex-gmt-master-ref-16753--beautiful-patina--1979--id21389993.htm',
 '/rolex/rolex-rolex-gmt-master-16753-40mm-brown-dial-two-tone-jubilee-band-quickset-w-box-and-papers--id24815940.htm',
 '/rolex/rolex-unpolished-1985-tt-gmt-master-16753-model-w-original-rolex-box--id26071048.htm',
 '/rolex/rolex-gmt-master--id26255376.htm',
 '/rolex/gmt-master-1675-jubilee-two-tone-nipple-steel-gold-black-dial-watch-box--id24582499.htm',
 '/rolex/rolex-gmt-master-two-tone-jubilee-18k-gold-and-steel-16753--id23038159.htm',
 '/rolex/rolex-gmt-master-1675-steel-gold-black-nipple-dial-1978-mint-dial--id26445538.htm',
 '/rolex/rolex-gmt-master--id26099978.htm',
 '/rolex/gmt-master-ref-16753-acciaio-oro--id7496148.htm',
 '/rolex/rolex-gmt-master-nipple-dial-rootbeer-16753--id24043765.htm',
 '/rolex/rolex-gmt-master-16753-brown-colour-tiger-eye-nipple-dial-full-set-1981s--id23310595.htm',
 '/rolex/rolex-steel--gold-gmt-master-16753--id15482030.htm',
 '/rolex/gmt-master-root-beer-2-tones-rare-t-swiss-t-brown-nipple-dial-1675-circa-1972--id23146514.htm',
 '/rolex/1989-rolex-gmt-master-16753-jubilee-two-tone-yellow-gold-and-steel-black-dial-watch--id25143474.htm',
 '/rolex/rolex-gmt-master-rootbeer-nipple-dial-16753-tiger-eye--id24151345.htm',
 '/rolex/rolex-gmt-master-16753-jubilee--id22299991.htm',
 '/rolex/rolex-gmt-master--id24413238.htm',
 '/rolex/rolex-gmt-master-16753-occhio-di-tigre-full-set--id25872124.htm',
 '/rolex/rolex-gmt-master--id25067580.htm',
 '/rolex/rolex-gmt-master-1675-black-tiger-eye-nipple-dial-full-set-1970s--id26511429.htm',
 '/rolex/gmt-master-1675-nipple-dial-14k-gold-and-stainless-1978-box-papers--id18561505.htm',
 '/rolex/rolex-gmt-master-tiger-eye---nipple-dial---ref-1675---absolute-fullset---1973----id26347615.htm',
 '/rolex/gmt-master-1675-jubilee-two-tone-nipple-steel-gold-root-beer-watch-box--id24629764.htm',
 '/rolex/rolex-gmt-master--id24823860.htm',
 '/rolex/vintage-1984-rolex-gmt-master-glossy-nipple-16753-root-beer-tt-jubilee-watch--id25739870.htm',
 '/rolex/rolex-gmt-master-rootbeer-18k-yellow-gold--stainless-steel-16753-1972-complete-extremely-rare--id23505727.htm',
 '/rolex/gmt-master-tiger-eye-nipple-dial-con-service-40mm-in-acciaio-e-oro-giallo-18kt-ref-16753--id25851850.htm',
 '/rolex/rolex-gmt-master-ref-16753-two-tone-unpolished-with-sticker-on-caseback--id23513400.htm',
 '/rolex/rolex-gmt-master-nipple-dial-with-box-jubilee--id20138544.htm',
 '/rolex/gmt-master--id24385539.htm',
 '/rolex/rolex-gmt-master-root-beer-automatic-steel--18k-gold-ref16753--id25830622.htm',
 '/rolex/taschenuhr-gmt-master-vintage-acciaiooro-garanzia-rolex--id22995555.htm',
 '/rolex/gmt-master-occhio-di-tigre--id26263439.htm',
 '/rolex/gmt-master-1675-two-tone-gold-nipple-steel-oyster-band-watch-box--id26050728.htm',
 '/rolex/rolex-gmt-master--id26583507.htm',
 '/rolex/gmt-master--id25595661.htm',
 '/rolex/gmt-master--id25066480.htm',
 '/rolex/gmt-master--id25678887.htm',
 '/rolex/rolex-gmt-master-nipple-dial--id25767333.htm',
 '/rolex/gmt-master--id25993813.htm']

In [ ]:
# URL wieder zusammenbauen:

directlink = "https://www.chrono24.at" + entry

In [8]:
# Create Table
sql = '''CREATE TABLE ROLEXMASTER (
    LINK TEXT UNIQUE
    )'''
cur.execute(sql)

## Alternative for: Create Table
sql = '''CREATE TABLE ROLEXMASTER (
    LINK TEXT UNIQUE,
    date DATE
    )'''
cur.execute(sql)

In [20]:

for entry in bs.find_all('a', class_ = 'article-item block-item rcard'):
    link = entry['href']
    cur.execute("""INSERT INTO ROLEXMASTER (LINK) VALUES (%s)""", (link))


conn.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '%s)' at line 1